<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35304500571-lbfdah8e4tqv5gelirqj1jv90rkhgub2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35304500571-lbfdah8e4tqv5gelirqj1jv90rkhgub2</string>
	<key>API_KEY</key>
	<string>AIzaSyAU2nylxdXhK4I2fwT5YtT8CjXnE4xmDAc</string>
	<key>GCM_SENDER_ID</key>
	<string>35304500571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kerimbora.nossinet</string>
	<key>PROJECT_ID</key>
	<string>nossi-net</string>
	<key>STORAGE_BUCKET</key>
	<string>nossi-net.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35304500571:ios:aedc98f98c559d379bbe7e</string>
	<key>DATABASE_URL</key>
	<string>https://nossi-net.firebaseio.com</string>
</dict>
</plist>